<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <h1>Select Items to delete</h1>
    <form action="/items/multipleDelete?_method=DELETE" method="POST">
    <% for (let item of items){%>
            <input type="checkbox" id="<%= item.name %>" name="deleteIds" value="<%= item._id %>">
            <label for="<%= item.name %>"><%= item.name %></label>
            <br>
    <% }%>
    <button>Delete</button>
    </form>
    <a href="/items">Back to all Items</a>
</body>
</html>