<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Name of the item: <%= item.name %></h1>
    <h2>Quantity: <%= item.quantity %></h2>
    <button onclick="window.location.href= '/items/<%=item._id%>/edit' " style="display: inline;">Edit Item</button>

        <form action="/items/<%=item._id%>?_method=DELETE" method="POST" style="display: inline;">
            <button>Delete Item</button>
        </form>

    
    <button onclick="window.location.href= '/items' ">All Items</button>
</body>
</html>